@using EntityLayer.Concrete
@model List<Category>


@{
    Layout = null;
}


<link href="~/Content/bootstrap.rtl.min.css" rel="stylesheet" />


<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <td>@item.CategoryId</td>
                    <td>@item.CategoryName</td>
                    <td>@item.CategoryDescription</td>
                    <td>@item.CategoryStatus</td>
                </tr>
            }
</table>
<h1>control</h1>
<br/>
<a href="/Category/AddCategory" class="btn btn-danger">Kategori Ekle</a>