
@{
    Layout = null;
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<h3>Kategoriler</h3>
<br />


<table class="table table-bordered table-hover" >
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>About</th>
        <th>Status</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Egitim</td>
        <td>Egitim yapıldı</td>
        <td>true</td>
        <td><button class="btn-success">Güncelle</button></td>
    </tr>

    <tr>
        <td>2</td>
        <td>Saglık</td>
        <td>Saglık çalışmaları</td>
        <td>true</td>
        <td><button class="btn-success">Güncelle</button></td>
    </tr>

    <tr>
        <td>3</td>
        <td>Spor</td>
        <td>Spor faaliyetleri</td>
        <td>true</td>
        <td><button class="btn-success">Güncelle</button></td>
    </tr>
</table>

<button class="btn btn-danger">Kategori ekle</button>
